@charset "utf-8";
/* CSS Document */
body{
background:url("bg_main.jpg") repeat scroll left top transparent;
color:#10445F;
font:12px/17px "verdana",arial,tahoma;
}

.foundationIII{
width: 956px; 
height: 350px; 
margin-left: auto; 
margin-right: auto;
background-color:#BBBBBB;
}

.headercontainer{
width: 950px; 
height: 50px; 
margin-left: auto; 
margin-right: auto;
background-color:#DDDDDD;
}

.maincontainer{
width: 890px; 
margin-left: auto; 
margin-right: auto;
background-color:#EEEEEE;
}

.mainmenu{
float: left; 
width: 20%;
background-color:#CCCCCC;

}

.contentcontainer{
float: right; 
width: 70%; 
margin-top: 10px; 
margin-right: 10%;
background-color:#FFFFFF;

}
